@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body .off-canvas {
  bottom: 0;
  background: #E0E0E0;
  color: #fff;
  font-weight: 500;
  position: fixed;
  -moz-box-shadow: inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc; }
  body .off-canvas .profile-pic {
    width: 50%;
    border-radius: 50%; }
  body .off-canvas h5.name {
    color: #263238;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif; }
    body .off-canvas h5.name .big {
      font-size: 2.5rem !important;
      color: #fff !important; }
  body .off-canvas ul.scroll-menu {
    margin-top: 50px; }
    body .off-canvas ul.scroll-menu li {
      list-style: none;
      text-align: right;
      margin: 15px 50px 15px 0px; }
      body .off-canvas ul.scroll-menu li a {
        color: #00BFA5;
        font-weight: 700;
        font-family: 'Open Sans Condensed', sans-serif; }
        body .off-canvas ul.scroll-menu li a:hover {
          color: #00B8D4;
          border-bottom: 2px solid #00B8D4; }
  body .off-canvas .cite {
    border-left: 5px solid #fff;
    padding: 10px 0 10px 30px;
    margin: 0 0 1rem 0; }
    body .off-canvas .cite p {
      font-style: italic;
      color: #fff; }
      body .off-canvas .cite p span.big1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #E1BEE7; }
      body .off-canvas .cite p span.big2, body .off-canvas .cite p span.big3 {
        font-size: 1.3rem;
        font-weight: bold;
        color: #CDDC39; }
body .off-canvas-content {
  background: #edeff0; }
  body .off-canvas-content .title-bar {
    background: #009688;
    border-bottom: 3px solid #fff; }
    body .off-canvas-content .title-bar .name {
      color: #263238;
      font-weight: 700;
      font-size: 1rem;
      font-family: 'Lato', sans-serif; }
      body .off-canvas-content .title-bar .name .big {
        font-size: 2rem !important;
        color: #fff !important; }
  body .off-canvas-content .callout {
    background: #00BFA5;
    border: 0; }
    body .off-canvas-content .callout h4 {
      font-weight: 200;
      color: #fff;
      font-family: 'Lato', sans-serif; }
      body .off-canvas-content .callout h4 span.love {
        padding: 3px; }
  body .off-canvas-content h2.client-project-title, body .off-canvas-content h2.personal-project-title, body .off-canvas-content h3.follow-me, body .off-canvas-content h3.contact, body .off-canvas-content h3.skills, body .off-canvas-content h3.clients {
    border-left: 10px solid #607D8B;
    border-right: 10px solid #607D8B;
    padding: 10px 0 10px 30px;
    margin: 0 0 1rem 0;
    background: #00BCD4;
    color: #fff;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777; }
  body .off-canvas-content .client-projects .overlay-container, body .off-canvas-content .personal-projects .overlay-container {
    backface-visibility: hidden;
    position: relative;
    overflow: hidden; }
    body .off-canvas-content .client-projects .overlay-container .overlay, body .off-canvas-content .personal-projects .overlay-container .overlay {
      border-bottom: 120px solid #e8c63d;
      border-left: 120px solid transparent;
      bottom: 15px;
      height: 0;
      opacity: .95;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      transition: all .5s ease-out;
      width: 0; }
    body .off-canvas-content .client-projects .overlay-container:hover .overlay, body .off-canvas-content .personal-projects .overlay-container:hover .overlay {
      border-bottom: 1000px solid #e8c63d;
      border-left: 1000px solid transparent;
      transition: all .5s ease-out; }
    body .off-canvas-content .client-projects .overlay-container .corner-overlay-content, body .off-canvas-content .personal-projects .overlay-container .corner-overlay-content {
      bottom: 45px;
      color: #333;
      position: absolute;
      right: 10px;
      font-weight: 500;
      transform: rotate(-45deg);
      transition: all .5s ease-out; }
    body .off-canvas-content .client-projects .overlay-container:hover .corner-overlay-content, body .off-canvas-content .personal-projects .overlay-container:hover .corner-overlay-content {
      opacity: 0;
      transition: all .5s ease-out; }
    body .off-canvas-content .client-projects .overlay-container .overlay-content, body .off-canvas-content .personal-projects .overlay-container .overlay-content {
      color: #333;
      left: 0;
      opacity: 0;
      z-index: 10;
      padding: 30px;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .3s ease-out; }
      body .off-canvas-content .client-projects .overlay-container .overlay-content h4, body .off-canvas-content .personal-projects .overlay-container .overlay-content h4 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        font-weight: 500; }
    body .off-canvas-content .client-projects .overlay-container:hover .overlay-content, body .off-canvas-content .personal-projects .overlay-container:hover .overlay-content {
      opacity: 1;
      transition: all .3s ease-out;
      transition-delay: .3s; }
  body .off-canvas-content h6 {
    color: #778492;
    font-weight: bold; }
  body .off-canvas-content .progress {
    height: 1.2rem; }
    body .off-canvas-content .progress .progress-meter {
      background: #e8c63d; }
body .thumbnail {
  width: 100%;
  border: none; }

/*# sourceMappingURL=app.css.map */
