@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body .off-canvas {
  bottom: 0;
  background: #E0E0E0;
  color: #fff;
  font-weight: 500;
  position: fixed;
  -moz-box-shadow: inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc; }
  body .off-canvas .profile-pic {
    width: 50%;
    border-radius: 50%; }
  body .off-canvas h5.name {
    color: #263238;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif; }
    body .off-canvas h5.name .big {
      font-size: 2.5rem !important;
      color: #fff !important; }
  body .off-canvas ul.scroll-menu {
    margin-top: 50px; }
    body .off-canvas ul.scroll-menu li {
      list-style: none;
      text-align: right;
      margin: 15px 50px 15px 0px; }
      body .off-canvas ul.scroll-menu li a {
        color: #00BFA5;
        font-weight: 700;
        font-family: 'Open Sans Condensed', sans-serif; }
        body .off-canvas ul.scroll-menu li a:hover {
          color: #00B8D4;
          border-bottom: 2px solid #00B8D4; }
  body .off-canvas .cite {
    border-left: 5px solid #fff;
    padding: 10px 0 10px 30px;
    margin: 0 0 1rem 0; }
    body .off-canvas .cite p {
      font-style: italic;
      color: #fff; }
      body .off-canvas .cite p span.big1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #E1BEE7; }
      body .off-canvas .cite p span.big2, body .off-canvas .cite p span.big3 {
        font-size: 1.3rem;
        font-weight: bold;
        color: #CDDC39; }
body .off-canvas-content {
  background: #edeff0; }
  body .off-canvas-content .title-bar {
    background: #009688;
    border-bottom: 3px solid #fff; }
    body .off-canvas-content .title-bar .name {
      color: #263238;
      font-weight: 700;
      font-size: 1rem;
      font-family: 'Lato', sans-serif; }
      body .off-canvas-content .title-bar .name .big {
        font-size: 2rem !important;
        color: #fff !important; }
  body .off-canvas-content .callout {
    background: #00BFA5;
    border: 0; }
    body .off-canvas-content .callout h4 {
      font-weight: 200;
      color: #fff;
      font-family: 'Lato', sans-serif; }
      body .off-canvas-content .callout h4 span.love {
        padding: 3px; }
  body .off-canvas-content h2.client-project-title, body .off-canvas-content h2.personal-project-title, body .off-canvas-content h3.follow-me, body .off-canvas-content h3.contact, body .off-canvas-content h3.skills, body .off-canvas-content h3.clients {
    border-left: 10px solid #607D8B;
    border-right: 10px solid #607D8B;
    padding: 10px 0 10px 30px;
    margin: 0 0 1rem 0;
    background: #00BCD4;
    color: #fff;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777; }
  body .off-canvas-content .client-projects .overlay-container, body .off-canvas-content .personal-projects .overlay-container {
    backface-visibility: hidden;
    position: relative;
    overflow: hidden; }
    body .off-canvas-content .client-projects .overlay-container .overlay, body .off-canvas-content .personal-projects .overlay-container .overlay {
      border-bottom: 120px solid #e8c63d;
      border-left: 120px solid transparent;
      bottom: 15px;
      height: 0;
      opacity: .95;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      transition: all .5s ease-out;
      width: 0; }
    body .off-canvas-content .client-projects .overlay-container:hover .overlay, body .off-canvas-content .personal-projects .overlay-container:hover .overlay {
      border-bottom: 1000px solid #e8c63d;
      border-left: 1000px solid transparent;
      transition: all .5s ease-out; }
    body .off-canvas-content .client-projects .overlay-container .corner-overlay-content, body .off-canvas-content .personal-projects .overlay-container .corner-overlay-content {
      bottom: 45px;
      color: #333;
      position: absolute;
      right: 10px;
      font-weight: 500;
      transform: rotate(-45deg);
      transition: all .5s ease-out; }
    body .off-canvas-content .client-projects .overlay-container:hover .corner-overlay-content, body .off-canvas-content .personal-projects .overlay-container:hover .corner-overlay-content {
      opacity: 0;
      transition: all .5s ease-out; }
    body .off-canvas-content .client-projects .overlay-container .overlay-content, body .off-canvas-content .personal-projects .overlay-container .overlay-content {
      color: #333;
      left: 0;
      opacity: 0;
      z-index: 10;
      padding: 30px;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .3s ease-out; }
      body .off-canvas-content .client-projects .overlay-container .overlay-content h4, body .off-canvas-content .personal-projects .overlay-container .overlay-content h4 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        font-weight: 500; }
    body .off-canvas-content .client-projects .overlay-container:hover .overlay-content, body .off-canvas-content .personal-projects .overlay-container:hover .overlay-content {
      opacity: 1;
      transition: all .3s ease-out;
      transition-delay: .3s; }
  body .off-canvas-content #skills h6 {
    color: #778492;
    font-weight: bold; }
  body .off-canvas-content #skills .progress {
    height: 1.2rem; }
    body .off-canvas-content #skills .progress .progress-meter {
      background: #e8c63d; }
  body .off-canvas-content #clients .tdc, body .off-canvas-content #clients .annoor, body .off-canvas-content #clients .raees {
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    body .off-canvas-content #clients .tdc:hover, body .off-canvas-content #clients .annoor:hover, body .off-canvas-content #clients .raees:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    body .off-canvas-content #clients .tdc img, body .off-canvas-content #clients .annoor img, body .off-canvas-content #clients .raees img {
      padding: 20px; }
    body .off-canvas-content #clients .tdc ul, body .off-canvas-content #clients .annoor ul, body .off-canvas-content #clients .raees ul {
      text-align: center;
      margin-top: 20px;
      background: #ECEFF1;
      margin-left: 0;
      padding: 30px; }
      body .off-canvas-content #clients .tdc ul li, body .off-canvas-content #clients .annoor ul li, body .off-canvas-content #clients .raees ul li {
        list-style: none;
        margin: 3px 10px;
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: .125rem solid #f3f3f3;
        background: #fff;
        transition: 250ms; }
        body .off-canvas-content #clients .tdc ul li a i, body .off-canvas-content #clients .annoor ul li a i, body .off-canvas-content #clients .raees ul li a i {
          margin-top: 15px;
          color: #353c4a; }
        body .off-canvas-content #clients .tdc ul li.facebook:hover, body .off-canvas-content #clients .tdc ul li.facebook:focus, body .off-canvas-content #clients .annoor ul li.facebook:hover, body .off-canvas-content #clients .annoor ul li.facebook:focus, body .off-canvas-content #clients .raees ul li.facebook:hover, body .off-canvas-content #clients .raees ul li.facebook:focus {
          box-shadow: 0 0 24px 0 #3b5998; }
          body .off-canvas-content #clients .tdc ul li.facebook:hover a i, body .off-canvas-content #clients .tdc ul li.facebook:focus a i, body .off-canvas-content #clients .annoor ul li.facebook:hover a i, body .off-canvas-content #clients .annoor ul li.facebook:focus a i, body .off-canvas-content #clients .raees ul li.facebook:hover a i, body .off-canvas-content #clients .raees ul li.facebook:focus a i {
            color: #3b5998; }
        body .off-canvas-content #clients .tdc ul li.twitter:hover, body .off-canvas-content #clients .tdc ul li.twitter:focus, body .off-canvas-content #clients .annoor ul li.twitter:hover, body .off-canvas-content #clients .annoor ul li.twitter:focus, body .off-canvas-content #clients .raees ul li.twitter:hover, body .off-canvas-content #clients .raees ul li.twitter:focus {
          box-shadow: 0 0 24px 0 #00ACED; }
          body .off-canvas-content #clients .tdc ul li.twitter:hover a i, body .off-canvas-content #clients .tdc ul li.twitter:focus a i, body .off-canvas-content #clients .annoor ul li.twitter:hover a i, body .off-canvas-content #clients .annoor ul li.twitter:focus a i, body .off-canvas-content #clients .raees ul li.twitter:hover a i, body .off-canvas-content #clients .raees ul li.twitter:focus a i {
            color: #00ACED; }
        body .off-canvas-content #clients .tdc ul li.googleplus:hover, body .off-canvas-content #clients .tdc ul li.googleplus:focus, body .off-canvas-content #clients .annoor ul li.googleplus:hover, body .off-canvas-content #clients .annoor ul li.googleplus:focus, body .off-canvas-content #clients .raees ul li.googleplus:hover, body .off-canvas-content #clients .raees ul li.googleplus:focus {
          box-shadow: 0 0 24px 0 #dd4b39; }
          body .off-canvas-content #clients .tdc ul li.googleplus:hover a i, body .off-canvas-content #clients .tdc ul li.googleplus:focus a i, body .off-canvas-content #clients .annoor ul li.googleplus:hover a i, body .off-canvas-content #clients .annoor ul li.googleplus:focus a i, body .off-canvas-content #clients .raees ul li.googleplus:hover a i, body .off-canvas-content #clients .raees ul li.googleplus:focus a i {
            color: #dd4b39; }
        body .off-canvas-content #clients .tdc ul li.web:hover, body .off-canvas-content #clients .tdc ul li.web:focus, body .off-canvas-content #clients .annoor ul li.web:hover, body .off-canvas-content #clients .annoor ul li.web:focus, body .off-canvas-content #clients .raees ul li.web:hover, body .off-canvas-content #clients .raees ul li.web:focus {
          box-shadow: 0 0 24px 0 #C51162; }
          body .off-canvas-content #clients .tdc ul li.web:hover a i, body .off-canvas-content #clients .tdc ul li.web:focus a i, body .off-canvas-content #clients .annoor ul li.web:hover a i, body .off-canvas-content #clients .annoor ul li.web:focus a i, body .off-canvas-content #clients .raees ul li.web:hover a i, body .off-canvas-content #clients .raees ul li.web:focus a i {
            color: #C51162; }
body .thumbnail {
  width: 100%;
  border: none; }

/*# sourceMappingURL=app.css.map */
