@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

$yellow: #e8c63d;
$primary: #2980b9;

body {

    .tdc-screenshots {
        z-index: 100;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #8C9EFF;
        transition: left .5s;
        h3 {
            color: #fff;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 700;
            margin: 10px 0;
            padding: 10px 20px;
            background: #CDDC39;
            border-radius: 50px;
            display: inline-block;
            .title {
                color: #009688;
            }
        }
        h4 {
            color: #fff;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 300;
            margin: 10px 0;
        }


        img.thumbnail.image-container {
            margin-top: 28px!important;
        }


        .button {
            margin-top: 20px;
            display: inline-block;
        }

    }

    .hidden {
        left: -100vw;
    }
    .visible {
        left: 0;
    }

    .thumbnail {
        width: 100%;
        border: none;
    }

    .off-canvas {
        bottom: 0;
        background:#E0E0E0;
        color: #fff;
        font-weight: 500;
        position: fixed;
        -moz-box-shadow:    inset 0 0 10px #ccc;
        -webkit-box-shadow: inset 0 0 10px #ccc;
        box-shadow:         inset 0 0 10px #ccc;
        .profile-pic {
            width: 50%;
            border-radius: 50%;
        }
        h5.name {
            color: #263238;
            font-weight: 700;
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            .big {
                font-size: 2.5rem!important;
                color: #fff!important;
            }

        }
        //Scroll on click list items
        ul.scroll-menu {
            margin-top: 50px;
            li {
                list-style: none;
                text-align: right;
                margin: 15px 50px 15px 0px;
                a {
                    color: #00BFA5;
                    font-weight: 700;
                    font-family: 'Open Sans Condensed', sans-serif;

                    &:hover {
                        color: #00B8D4;
                        border-bottom: 2px solid #00B8D4;
                    }
                }
            }
        }
        .cite {

            border-left: 5px solid #fff;
            padding: 10px 0 10px 30px;
            margin: 0 0 1rem 0;
            p {
                font-style: italic;
                color: #fff;
                span.big1 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #E1BEE7;
                }
                span.big2, span.big3 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #CDDC39;
                }

            }
        }

    }
    .off-canvas-content { //off-canvas Content Starts
        background: #edeff0;

        .title-bar {
            background: #009688;
            border-bottom: 3px solid #fff;

            .name {
                color: #263238;
                font-weight: 700;
                font-size: 1rem;
                font-family: 'Lato', sans-serif;
                .big {
                    font-size: 2rem!important;
                    color: #fff!important;
                }
            }
        }

        .callout {
            background: #00BFA5;
            border: 0;

            h4 {
                font-weight: 200;
                color: #fff;
                font-family: 'Lato', sans-serif;
                span.love {
                    padding: 3px;
                }
            }


        }

        h2.client-project-title, h2.personal-project-title, h3.follow-me, h3.contact, h3.skills, h3.clients {
            border-left: 10px solid #607D8B;
            border-right: 10px solid #607D8B;
            padding: 10px 0 10px 30px;
            margin: 0 0 1rem 0;
            background: #00BCD4;
            color: #fff;
            width: 100%;
            font-family: 'Open Sans Condensed', sans-serif;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
        }

        .client-projects, .personal-projects {
            .overlay-container {
                backface-visibility: hidden;
                position: relative;
                overflow: hidden;

                .overlay {
                    border-bottom: 120px solid #80DEEA;
                    border-left: 120px solid transparent;
                    bottom: 15px;
                    height: 0;
                    opacity: .95;
                    position: absolute;
                    right: 0;
                    text-indent: -9999px;
                    transition: all .5s ease-out;
                    width: 0;

                }
                &:hover .overlay {

                    border-bottom: 1000px solid #80DEEA; //size must be double container
                    border-left: 1000px solid transparent;//size must be double container
                    transition: all .5s ease-out;

                }

                .corner-overlay-content {
                    bottom: 45px;
                    color: #333;
                    position: absolute;
                    right: 10px;
                    font-weight: 500;
                    transform: rotate(-45deg);
                    transition: all .5s ease-out;


                }
                &:hover .corner-overlay-content{
                    opacity: 0;
                    transition: all .5s ease-out;
                }

                .overlay-content{
                    color: #333;
                    left: 0;
                    opacity: 0;
                    z-index: 10;
                    padding: 30px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all .3s ease-out;
                    h4{
                      border-bottom: 1px solid #333;
                      padding: 0 0 12px;
                      font-weight: 500;
                    }
                    .button {
                        background: transparent;
                        border: 2px solid #000;
                        color: #000;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-weight: 700;
                        font-size: 15px;

                        &:hover {
                            background: #263238;
                            color: #fff;

                        }
                    }
                }

                &:hover .overlay-content{
                    opacity: 1;
                    transition: all .3s ease-out;
                    transition-delay: .3s;
                }


            }
        }

        // Skills
        #skills {

            h6 {
                color: #778492;
                font-weight: bold;
            }
            .progress {
                height: 1.2rem;
                .progress-meter {
                    background: #26A69A;
                }
            }
        }

        // Clients
        #clients{

            .tdc, .annoor, .raees {
                margin-bottom: 30px;
                background: #fff;

                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }

                img {
                    padding: 20px;
                }

                ul {
                    text-align: center;
                    margin-top: 20px;
                    background: #ECEFF1;
                    margin-left: 0;
                    padding: 30px;

                    li {
                        list-style: none;
                        margin: 3px 10px;
                        display: inline-block;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        border: .125rem solid #f3f3f3;
                        background: #fff;
                        transition: 250ms;

                        a {
                            i {
                                margin-top: 15px;
                                color: #353c4a;
                            }
                        }
                        &.facebook { // Facebook
                            &:hover,
                            &:focus {
                                box-shadow: 0 0 24px 0 #3b5998;
                                a {
                                    i {
                                        color: #3b5998;
                                    }
                                }
                            }
                        }
                        &.twitter { // Twitter
                            &:hover,
                            &:focus {
                                box-shadow: 0 0 24px 0 #00ACED;
                                a {
                                    i {
                                        color: #00ACED;
                                    }
                                }
                            }
                        }
                        &.googleplus { // Google Plus
                            &:hover,
                            &:focus {
                                box-shadow: 0 0 24px 0 #dd4b39;
                                a {
                                    i {
                                        color: #dd4b39;
                                    }
                                }
                            }
                        }
                        &.web { // Google Plus
                            &:hover,
                            &:focus {
                                box-shadow: 0 0 24px 0 #C51162;
                                a {
                                    i {
                                        color: #C51162;
                                    }
                                }
                            }
                        }
                    }
                }

            }


        }

        //Contact
        #contact {
            .callout.email {
                background: #00BFA5;
                border: 0;
                margin-bottom: 0;
                margin-top: 30px;
                transition-duration: 150ms;

                    a {
                        line-height: 3;
                        font-size: 40px;
                        color: #fff;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-weight: 300;
                        @media screen and (min-width: 40em) {
                            font-size: 80px;
                        }
                    }
                &:hover {
                    background: #26A69A;
                }

            }
            .callout.address-and-social {
                background: #fff;
                border: 0;
                margin-bottom: 0;


                    .phone-call {

                        i {
                            color: #353c4a;
                        }
                        a {
                            .number {
                                font-weight: 700;
                                font-size: 25px;
                                margin-bottom: 10px;
                                font-family: 'Open Sans Condensed', sans-serif;
                                color: #37474F;
                            }
                        }
                    }
                    .social {

                        ul {
                            text-align: center;
                            margin-top: 20px;
                            margin-left: 0;
                            padding: 30px;


                            li {
                                list-style: none;
                                margin: 3px 10px;
                                display: inline-block;
                                height: 80px;
                                width: 80px;
                                border-radius: 50%;
                                border: .125rem solid #f3f3f3;
                                background: #ECEFF1;
                                transition: 250ms;

                                a {
                                    i {
                                        margin-top: 22px;
                                        color: #353c4a;
                                    }
                                }
                                &.facebook { // Facebook
                                    &:hover,
                                    &:focus {
                                        box-shadow: 0 0 24px 0 #3b5998;
                                        a {
                                            i {
                                                color: #3b5998;
                                            }
                                        }
                                    }
                                }
                                &.twitter { // Twitter
                                    &:hover,
                                    &:focus {
                                        box-shadow: 0 0 24px 0 #00ACED;
                                        a {
                                            i {
                                                color: #00ACED;
                                            }
                                        }
                                    }
                                }
                                &.googleplus { // Google Plus
                                    &:hover,
                                    &:focus {
                                        box-shadow: 0 0 24px 0 #dd4b39;
                                        a {
                                            i {
                                                color: #dd4b39;
                                            }
                                        }
                                    }
                                }
                                &.web { // Google Plus
                                    &:hover,
                                    &:focus {
                                        box-shadow: 0 0 24px 0 #C51162;
                                        a {
                                            i {
                                                color: #C51162;
                                            }
                                        }
                                    }
                                }

                                &.github { // Github
                                    &:hover,
                                    &:focus {
                                        box-shadow: 0 0 24px 0 #3F51B5;
                                        a {
                                            i {
                                                color: #3F51B5;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

            }
        }



    } //off-canvas Content Ends






}
