@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

$yellow: #e8c63d;
$primary: #2980b9;

body {

    .off-canvas {
        bottom: 0;
        background:#E0E0E0;
        color: #fff;
        font-weight: 500;
        position: fixed;
        -moz-box-shadow:    inset 0 0 10px #ccc;
        -webkit-box-shadow: inset 0 0 10px #ccc;
        box-shadow:         inset 0 0 10px #ccc;
        .profile-pic {
            width: 50%;
            border-radius: 50%;
        }
        h5.name {
            color: #263238;
            font-weight: 700;
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            .big {
                font-size: 2.5rem!important;
                color: #fff!important;
            }

        }
        //Scroll on click list items
        ul.scroll-menu {
            margin-top: 50px;
            li {
                list-style: none;
                text-align: right;
                margin: 15px 50px 15px 0px;
                a {
                    color: #00BFA5;
                    font-weight: 700;
                    font-family: 'Open Sans Condensed', sans-serif;

                    &:hover {
                        color: #00B8D4;
                        border-bottom: 2px solid #00B8D4;
                    }
                }
            }
        }
        .cite {

            border-left: 5px solid #fff;
            padding: 10px 0 10px 30px;
            margin: 0 0 1rem 0;
            p {
                font-style: italic;
                color: #fff;
                span.big1 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #E1BEE7;
                }
                span.big2, span.big3 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #CDDC39;
                }

            }
        }

    }
    .off-canvas-content { //off-canvas Content Starts
        background: #edeff0;
        .title-bar {
            background: #009688;
            border-bottom: 3px solid #fff;

            .name {
                color: #263238;
                font-weight: 700;
                font-size: 1rem;
                font-family: 'Lato', sans-serif;
                .big {
                    font-size: 2rem!important;
                    color: #fff!important;
                }
            }
        }

        .callout {
            background: #00BFA5;
            border: 0;

            h4 {
                font-weight: 200;
                color: #fff;
                font-family: 'Lato', sans-serif;
                span.love {
                    padding: 3px;
                }
            }


        }

        h2.client-project-title, h2.personal-project-title, h3.follow-me, h3.contact, h3.skills, h3.clients {
            border-left: 10px solid #607D8B;
            border-right: 10px solid #607D8B;
            padding: 10px 0 10px 30px;
            margin: 0 0 1rem 0;
            background: #00BCD4;
            color: #fff;
            width: 100%;
            font-family: 'Open Sans Condensed', sans-serif;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
        }

        .client-projects, .personal-projects {
            .overlay-container {
                backface-visibility: hidden;
                position: relative;
                overflow: hidden;

                .overlay {
                    border-bottom: 120px solid $yellow;
                    border-left: 120px solid transparent;
                    bottom: 15px;
                    height: 0;
                    opacity: .95;
                    position: absolute;
                    right: 0;
                    text-indent: -9999px;
                    transition: all .5s ease-out;
                    width: 0;

                }
                &:hover .overlay {

                    border-bottom: 1000px solid $yellow; //size must be double container
                    border-left: 1000px solid transparent;//size must be double container
                    transition: all .5s ease-out;

                }

                .corner-overlay-content {
                    bottom: 45px;
                    color: #333;
                    position: absolute;
                    right: 10px;
                    font-weight: 500;
                    transform: rotate(-45deg);
                    transition: all .5s ease-out;


                }
                &:hover .corner-overlay-content{
                    opacity: 0;
                    transition: all .5s ease-out;
                }

                .overlay-content{
                    color: #333;
                    left: 0;
                    opacity: 0;
                    z-index: 10;
                    padding: 30px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all .3s ease-out;
                    h4{
                      border-bottom: 1px solid #333;
                      padding: 0 0 12px;
                      font-weight: 500;
                    }
                }

                &:hover .overlay-content{
                    opacity: 1;
                    transition: all .3s ease-out;
                    transition-delay: .3s;
                }


            }
        }
        h6 {
            color: #778492;
            font-weight: bold;
        }
        .progress {
            height: 1.2rem;
            .progress-meter {
                background: #e8c63d;
            }
        }





    } //off-canvas Content Ends


    .thumbnail {
        width: 100%;
        border: none;
    }



}
