@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@mixin overlay-color {
    background: -moz-linear-gradient(top,  rgba(0,121,107,0.7) 0%, rgba(0,150,136,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,121,107,0.7) 0%,rgba(0,150,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,121,107,0.7) 0%,rgba(0,150,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300796b', endColorstr='#009688',GradientType=0 ); /* IE6-9 */
}
$primary: #2980b9;

body {

    .off-canvas {
        bottom: 0;
        background: #0097A7;
        color: #fff;
        font-weight: 500;
        position: fixed;
        -moz-box-shadow:    inset 0 0 10px #ccc;
        -webkit-box-shadow: inset 0 0 10px #ccc;
        box-shadow:         inset 0 0 10px #ccc;
        .profile-pic {
            border-radius: 5px;
        }
        h5.name {
            color: #263238;
            font-weight: 700;
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            .big {
                font-size: 2.5rem!important;
                color: #fff!important;
            }
            //text-transform: uppercase;
        }
        .cite {

            border-left: 5px solid #fff;
            padding: 10px 0 10px 30px;
            margin: 0 0 1rem 0;
            p {
                font-style: italic;
                color: #fff;
                span.big1 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #E1BEE7;
                }
                span.big2, span.big3 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #CDDC39;
                }

            }
        }

    }
    .off-canvas-content { //off-canvas Content Starts
        background: #fff;
        .title-bar {
            background: #009688;
            border-bottom: 3px solid #fff;

            .name {
                color: #263238;
                font-weight: 700;
                font-size: 1rem;
                font-family: 'Lato', sans-serif;
                .big {
                    font-size: 2rem!important;
                    color: #fff!important;
                }
            }
        }

        .callout {
            background:  #0097A7;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
            color: #fff;
            h1 {
                font-weight: 200;
                color: #F5F5F5;
                text-shadow: black 0.1em 0.1em 0.4em;
                font-family: 'Lato', sans-serif;
            }

            .intro-list {
                display: block;
                margin-bottom: .5rem;
                font-size: 1.2rem;
                li {
                    font-weight: bold;
                    font-family: 'Lato', sans-serif;
                    font-size: 1rem;
                    display: inline-block;
                    vertical-align: middle;
                    &:before {
                        content: '\00B7';
                        display: inline-block;
                        margin: 0 .5em;
                    }
                    &:first-child {
                        &:before {
                            content: '';
                        }
                    }
                }

            }
        }

        h2.client-project-title, h2.personal-project-title, h3.follow-me, h3.contact {
            border-left: 10px solid #00796B;
            border-right: 10px solid #00796B;
            padding: 10px 0 10px 30px;
            margin: 0 0 1rem 0;
            background: #00BCD4;
            color: #fff;
            width: 100%;
        }

        .client-projects, .personal-projects {
            .overlay-container {
                display: inline-block;
                vertical-align: top;
                position: relative;
                .overlay1 {
                    background: rgba(41, 128, 185, 0.7);
                }
                .overlay2 {
                    background: rgba(146, 41, 185, 0.7);
                }
                .overlay3 {
                    background: rgba(185, 41, 128, 0.7);
                }
                .overlay4 {
                    background: rgba(185, 146, 41, 0.7);
                }
                .overlay5 {
                    background: rgba(221, 44, 0, 0.7);
                }
                .overlay6 {
                    background: rgba(0, 77, 64, 0.7);
                }
                .overlay7 {
                    background: rgba(0, 150, 136, 0.7);
                }
                .overlay8 {
                    background: rgba(96, 125, 139, 0.7);
                }
                .overlay9 {
                    background: rgba(136, 14, 79, 0.7);
                }
                .overlay10 {
                    background: rgba(33, 150, 243, 0.7);
                }


                .overlay1, .overlay2, .overlay3, .overlay4, .overlay5,
                 .overlay6, .overlay7, .overlay8, .overlay9, .overlay10 {
                    color: #fff;
                    font-size: 1em;
                    opacity: 0;
                    overflow: hidden;
                    padding: 3.75em 3em;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 14px;
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                    &:hover {
                        opacity: 1;
                    }
                    &::before,
                    &::after {
                        border: 3px solid rgba(255, 255, 255, 0.7);
                        bottom: 1em;
                        content: '';
                        left: 1em;
                        right: 1em;
                        bottom: 1em;
                        top: 1em;
                        opacity: 0;
                        position: absolute;
                        -webkit-transform: scale(1.5);
                        -ms-transform: scale(1.5);
                        transform: scale(1.5);
                        -webkit-transition: 0.6s 0.2s;
                        transition: 0.6s 0.2s;
                    }
                    &::before {
                        border-bottom: none;
                        border-top: none;
                        left: 2em;
                        right: 2em;
                    }
                    &::after {
                        border-left: none;
                        border-right: none;
                        top: 2em;
                        bottom: 2em;
                    }
                    &:hover:after, &:hover:before {
                        -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                        opacity: 1;
                    }
                    h4 {
                        margin-top: 0;
                        font-weight: 500;
                    }
                    p {
                        margin-bottom: 1.5em;
                        font-weight: 500;
                    }

                }
            }
        }



        .menu {
            display: inline-block;
            li a{
                color: #009688;
                font-size:20px;

                i {
                    background: #C8E6C9;
                    padding: 10px;
                    font-size:35px;
                    margin-right: 20px;

                }
            }
        }
        .contact-form {
            input[type=text],
            textarea {
                background: transparent;
                border: 2px solid #0097A7;

            }
            button {
                background: #0097A7;
                font-weight: 500;
                font-size: 16px;
            }
        }


    } //off-canvas Content Ends


    .thumbnail {
        border: none;
    }



}
